@charset "utf-8";

/* * * * * * * * * * * * * * * * * * * * * * * * *  /  common  /  * * * * * * * * * * * * * * * * * * * * * * * * */

#container form.modal {
  padding: 25px;
  width: 400px;
  box-sizing: border-box;
}
#container form.modal a.close {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  background: transparent url("/images/new/container.modal.close.png") no-repeat
    center center;
  background-size: 15px 15px;
  cursor: pointer;
}
#container form.modal h3 {
  margin-bottom: 15px;
  color: #292929;
  font-size: 18px;
  font-weight: normal;
}
#container form.modal .button {
  display: block;
  float: right;
  margin-left: 5px;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  border: 0;
  border-radius: 18px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background-color: #c62917;
  cursor: pointer;
}
#container form.modal .button.light {
  color: #737373;
  background-color: #f2f2f2;
}
#container form.modal .button.floatLeft {
  margin-left: 0;
  margin-right: 8px;
}
#container form.modal p {
  clear: both;
  margin-bottom: 15px;
}
#container form.modal p label {
  display: block;
  margin-bottom: 5px;
  color: #737373;
  font-size: 12px;
  font-weight: bold;
}
#container form.modal p label.radio {
  line-height: 25px;
  color: #292929;
  font-size: 13px;
  font-weight: normal;
}
#container form.modal p label.radio input {
  margin-right: 5px;
}
#container form.modal p label.radio span.description {
  margin-left: 5px;
  color: #a6a6a6;
  font-size: 11px;
}
#container form.modal p label.checkbox {
  display: inline;
  float: none;
  margin: 0 5px;
  width: auto;
  line-height: 25px;
  color: #292929;
  font-size: 13px;
  font-weight: normal;
}
#container form.modal p input.text {
  padding: 0 5px;
  width: 100%;
  height: 30px;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  color: #292929;
  font-size: 13px;
}
#container form.modal p input.small {
  width: 150px;
}
#container form.modal p select {
  padding: 0 5px;
  height: 30px;
}
#container form.modal p textarea.text {
  padding: 5px;
  width: 100%;
  height: 80px;
  line-height: 20px;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  resize: none;
  color: #292929;
  font-size: 14px;
}
#container form.modal ul > li > a {
  display: block;
  line-height: 40px;
  border-bottom: 1px solid #e3e3e3;
  color: #292929;
  font-size: 14px;
  cursor: pointer;
}
#container form.modal ul > li > a:hover {
  font-weight: bold;
}
#container form.modal *:focus {
  outline: none;
}
#container form.modal div.filter {
  position: relative;
  margin-bottom: 8px;
  max-height: 414px;
  overflow-x: hidden;
  overflow-y: auto;
}
#container form.modal div.filter > label {
  display: block;
  line-height: 36px;
  cursor: pointer;
}
#container form.modal div.filter > label:hover {
  background-color: #f8f8f8;
}
#container form.modal div.filter > label.inline {
  display: inline-block;
  margin-right: 16px;
}
#container form.modal div.filter > label > input {
  margin: 0 8px 0 4px;
}
#container form.modal div.filter > label > span {
  display: inline-block;
  color: #292929;
  font-size: 14px;
}
#container form.modal div.filter > input.keyword {
  padding: 8px 12px;
  width: 100%;
  height: 40px;
  line-height: 24px;
  box-sizing: border-box;
  border: 0;
  border-radius: 12px;
  color: #292929;
  font-size: 16px;
  background-color: #f2f2f2;
}
#container form.modal div.filter > ul.category ul {
  padding-left: 24px;
}
#container form.modal div.filter > ul.category ul.folded {
  display: none;
}
#container form.modal div.filter > ul.category li {
  padding: 12px 36px 12px 30px;
  border-bottom: 1px solid #ededed;
  line-height: 19px;
  color: #292929;
  font-size: 14px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left 6px center;
  background-size: 12px 12px;
}
#container form.modal div.filter > ul.category li:hover {
  background-color: #f8f8f8;
}
#container form.modal div.filter > ul.category li.folded {
  background-image: url("/images/container.modal.category.folded.png");
}
#container form.modal div.filter > ul.category li.unfolded {
  background-image: url("/images/container.modal.category.unfolded.png");
}
#container form.modal div.filter > ul.category li.child {
  background-image: url("/images/container.modal.category.child.png");
}
#container form.modal div.filter > ul.category li.child.filtered {
  font-weight: bold;
  background-color: #fdf9f3;
  background-image: url("/images/container.modal.category.child.png"),
    url("/images/container.modal.category.filtered.png");
  background-position: left 6px center, right 12px center;
}
#container form.modal div.filter > span.description {
  display: block;
  margin-bottom: 8px;
  line-height: 20px;
  color: #a6a6a6;
  font-size: 12px;
}
#container form.modal div.filter > table.times {
  width: 100%;
  border-collapse: collapse;
}
#container form.modal div.filter > table.times td {
  border: 1px solid #d6d6d6;
  color: #737373;
  font-size: 10px;
}
#container form.modal div.filter > table.times td.week {
  height: 20px;
  text-align: center;
}
#container form.modal div.filter > table.times td.hour {
  padding: 4px 4px 0 0;
  width: 20px;
  height: 23px;
  text-align: right;
  vertical-align: top;
}
#container form.modal div.filter > table.times td.time {
  cursor: pointer;
}
#container form.modal div.filter > table.times td.time:hover {
  background-color: #f8f8f8;
}
#container form.modal div.filter > table.times td.time.selected {
  background-color: #a6a6a6;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *  /  mobile only  /  * * * * * * * * * * * * * * * * * * * * * * * * */

@media only screen and (max-width: 640px) {
  #container form.modal {
    width: 95%;
    max-height: 95% !important;
    overflow: auto;
  }
}
