@charset "utf-8";

#container hr {
  clear: both;
  width: 100%;
  height: 0;
  border: 0;
}
#container > div.banners img {
  width: 100%;
  height: auto;
}
#container > div.rightside div.card,
#container > div.leftside div.card {
  margin-bottom: 5px;
  border: 1px solid #d6d6d6;
  background-color: #f9f9f9;
}
#container > div.main div.card {
  float: left;
  margin: 0 5px 5px 0;
  width: 295px;
  border: 1px solid #e3e3e3;
  overflow: hidden;
  background-color: #fff;
}

#container div.card h3 {
  padding: 10px;
}
#container div.card h3 > a {
  line-height: 20px;
  color: #c62917;
  font-size: 14px;
  font-weight: bold;
}
#container > div.rightside div.card h3 > a {
  color: #3744a5;
}
#container div.card h3 > a > span {
  float: right;
  line-height: 20px;
  color: #a6a6a6;
  font-size: 12px;
  font-weight: normal;
}

#container div.card > form.logged {
  padding: 15px;
}
#container div.card > form.logged > img.picture {
  display: block;
  margin: 15px auto;
  width: 60px;
  height: 60px;
  border-radius: 6px;
}
#container div.card > form.logged > p.nickname {
  margin-bottom: 5px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #393939;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
#container div.card > form.logged > p.school {
  line-height: 15px;
  color: #a6a6a6;
  font-size: 12px;
  text-align: center;
}
#container div.card > form.logged > ul.buttons {
  margin-top: 15px;
}
#container div.card > form.logged > ul.buttons > li {
  float: left;
  width: 50%;
}
#container div.card > form.logged > ul.buttons > li > a {
  display: block;
  margin-right: 5px;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  line-height: 25px;
  color: #737373;
  font-size: 13px;
  text-align: center;
}
#container div.card > form.logged > ul.buttons > li:last-child > a {
  margin-right: 0;
}

#container div.card > form.login {
  padding: 30px 15px 15px 15px;
}
#container div.card > form.login > h3 {
  margin-bottom: 15px;
  padding: 0;
  color: #292929;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}
#container div.card > form.login > h3 > strong {
  color: #c62917;
  font-weight: bold;
}
#container div.card > form.login > a.button {
  display: block;
  margin-bottom: 5px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
#container div.card > form.login > a.button.login {
  border: 1px solid #d6d6d6;
  color: #737373;
  background-color: #fff;
}
#container div.card > form.login > a.button.register {
  color: #fff;
  background-color: #c62917;
}
#container div.card > form.login > p.facebook {
  height: 15px;
  line-height: 15px;
  text-align: center;
}
#container div.card > form.login > p.facebook > span.text {
  color: #a6a6a6;
  font-size: 12px;
  cursor: pointer;
}
#container div.card > form.login > p.facebook > img.loading {
  display: none;
}

#container div.card > div.menus > a {
  display: block;
  padding: 10px 0 10px 37px;
  border-bottom: 1px solid #e3e3e3;
  line-height: 20px;
  box-sizing: border-box;
  color: #444444;
  font-size: 14px;
  background-repeat: no-repeat;
  background-size: 12px auto;
  background-position: 15px center;
}
#container div.card > div.menus > a:hover {
  background-color: #fff;
}
#container div.card > div.menus > a.myarticle {
  background-image: url("/images/new/container.community.card.myarticle.png");
}
#container div.card > div.menus > a.mycommentarticle {
  background-image: url("/images/new/container.community.card.mycommentarticle.png");
}
#container div.card > div.menus > a.myscrap {
  background-image: url("/images/new/container.community.card.myscrap.png");
  border-bottom: 0;
}

#container div.card > div.banner img {
  width: 100%;
  height: auto;
}

#container div.card > div.board > a {
  display: block;
  padding: 10px;
  border-top: 1px solid #e3e3e3;
}
#container div.card > div.board > a:hover {
  background-color: #f9f9f9;
}
#container div.rightside div.card > div.board > a:hover {
  background-color: #fff;
}
#container div.card > div.board > a.article > img.thumbnail {
  float: right;
  margin-left: 10px;
  width: 72px;
  height: 54px;
}
#container div.card > div.board > a.article > p {
  margin-bottom: 5px;
  height: 36px;
  line-height: 18px;
  white-space: normal;
  overflow: hidden;
  color: #444444;
  font-size: 13px;
}
#container div.card > div.board > a.article > p.title {
  height: 18px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#container div.card > div.board > a.article > p.small {
  height: 32px;
  line-height: 16px;
  color: #737373;
  font-size: 12px;
}
#container div.card > div.board > a.article > time {
  float: left;
  margin-right: 10px;
  height: 14px;
  line-height: 14px;
  color: #a6a6a6;
  font-size: 11px;
  letter-spacing: 0;
}
#container div.card > div.board > a.article > h4 {
  float: left;
  margin-right: 10px;
  height: 14px;
  line-height: 14px;
  color: #a6a6a6;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0;
}
#container div.card > div.board > a.article > ul.status {
  float: left;
}
#container div.card > div.board > a.article > ul.status > li {
  float: left;
  margin-right: 5px;
  padding-left: 15px;
  height: 14px;
  line-height: 14px;
  color: #a6a6a6;
  font-size: 11px;
  letter-spacing: 0;
  background-repeat: no-repeat;
  background-size: 11px 11px;
  background-position: left center;
}
#container div.card > div.board > a.article > ul.status > li.vote {
  background-image: url("/images/new/container.articles.vote.png");
}
#container div.card > div.board > a.article > ul.status > li.comment {
  background-image: url("/images/new/container.articles.comment.png");
}
#container div.card > div.board > a.article > ul.status > li.vote.active {
  color: #c62917;
  background-image: url("/images/new/container.articles.vote.png");
}
#container div.card > div.board > a.article > ul.status > li.comment.active {
  color: #0ca5af;
  background-image: url("/images/new/container.articles.comment.png");
}
#container div.card > div.board > a.article > span.star {
  display: block;
  margin-bottom: 5px;
  width: 60px;
  height: 12px;
  background: transparent url("/images/app.subject.rating.details.star.off.png") no-repeat;
  background-size: 60px 12px;
}
#container div.card > div.board > a.article > span.star > span.on {
  float: left;
  display: block;
  height: 12px;
  background: transparent url("/images/app.subject.rating.details.star.on.png") no-repeat;
  background-size: 60px 12px;
}
#container div.card > div.board > a.photo {
  float: left;
  position: relative;
  border-right: 1px solid #e3e3e3;
  width: 50%;
  height: 152px;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
}
#container div.card > div.board > a.photo:before {
  content: "";
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  height: 60%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
#container div.card > div.board > a.photo > p {
  position: relative;
  margin-top: 95px;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
#container div.card > div.board > a.photo > time {
  position: relative;
  height: 15px;
  line-height: 15px;
  color: #fff;
  font-size: 11px;
  letter-spacing: 0;
  opacity: 0.7;
}
#container div.card > div.board > a.list > p {
  height: 17px;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #444444;
  font-size: 14px;
}
#container div.card > div.board > a.list > time {
  float: right;
  margin-left: 10px;
  height: 17px;
  line-height: 18px;
  color: #a6a6a6;
  font-size: 11px;
  letter-spacing: 0;
}
#container div.card > div.board > div.needauth {
  padding: 40px 0;
  border-top: 1px solid #e3e3e3;
  text-align: center;
}
#container div.card > div.board > div.needauth > p {
  margin-bottom: 10px;
  line-height: 18px;
  color: #a6a6a6;
  font-size: 14px;
}
#container div.card > div.board > div.needauth > a.button {
  display: inline-block;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  background-color: #c62917;
}

#container div.bookstore {
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
  font-size: 0;
}
#container div.bookstore > a.item {
  display: inline-block;
  margin-right: 5px;
  width: 146px;
  box-sizing: border-box;
  border: 1px solid #e3e3e3;
  background-color: #fff;
}
#container div.bookstore > a.item:hover {
  background-color: #f9f9f9;
}
#container div.bookstore > a.item > div.image {
  width: 144px;
  height: 192px;
  background-size: cover;
  background-position: center center;
}
#container div.bookstore > a.item > h4 {
  margin: 10px 10px 5px 10px;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  white-space: normal;
  color: #444444;
  font-size: 14px;
  font-weight: normal;
}
#container div.bookstore > a.item > span.price {
  display: block;
  margin: 0 10px 10px 10px;
  color: #c62917;
  font-size: 12px;
  letter-spacing: 0;
}

#container > div.rightside form.search {
  margin-bottom: 5px;
}
#container > div.rightside form.search > input.text {
  width: 100%;
  height: 40px;
  line-height: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #d6d6d6;
  color: #292929;
  font-size: 14px;
  background: transparent url("/images/new/aside.search.background.png") no-repeat right center;
  background-size: 40px 40px;
}
#container > div.rightside form.search > input.text:focus {
  outline: none;
  border-color: #a6a6a6;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *  /  pc only  /  * * * * * * * * * * * * * * * * * * * * * * * * */

@media only screen and (min-width: 641px) {
  body {
    background-color: #fff;
  }
  #container > div.wrap {
    float: none;
    position: relative;
    left: 25px;
    margin-top: 25px;
    width: 780px;
  }
  #container > div.banners {
    position: relative;
    left: 215px;
    margin-top: 25px;
    width: 600px;
    height: 160px;
    overflow: hidden;
  }
  #container > div.leftside {
    position: absolute;
    left: 25px;
    top: 0;
    width: 175px;
    height: 300px;
  }
  #container > div.rightside {
    position: absolute;
    right: 25px;
    top: 0;
    width: 325px;
    height: 400px;
  }
  #container > div.main {
    position: relative;
    left: 215px;
    margin: 15px 0;
    width: 605px;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * *  /  mobile only  /  * * * * * * * * * * * * * * * * * * * * * * * * */

@media only screen and (max-width: 640px) {
  #container > div.banners {
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden;
  }
  #container > div.main {
    padding: 0 2px;
  }
  #container > div.rightside div.card,
  #container > div.leftside div.card,
  #container > div.main div.card {
    border: 0;
  }
  #container > div.main div.card {
    margin: 0;
    padding: 0px 2px 4px 2px;
    width: 50%;
    box-sizing: border-box;
    background-color: transparent;
  }
  #container div.card.pconly {
    display: none;
  }
  #container div.card > div {
    border: 1px solid #d6d6d6;
    background-color: #fff;
  }
  #container > div.rightside div.card > div,
  #container > div.rightside div.card > div {
    border-width: 1px 0;
  }
  #container > div.main div.card > div {
    border: 1px solid #d6d6d6;
  }
  #container div.card > div.menus > a {
    float: left;
    padding: 10px 0;
    width: 33%;
    border-bottom: 0;
    border-right: 1px solid #e3e3e3;
    text-align: center;
  }
  #container div.card > div.menus > a.myscrap {
    border-right: 0;
  }
  #container div.card > div.banner {
    display: none;
  }
  #container div.card > div.board > a.article > time,
  #container div.card > div.board > a.list > time,
  #container div.card > div.board > a.photo > time {
    font-size: 10px;
  }
  #container div.bookstore {
    padding-left: 2px;
    width: 100%;
    box-sizing: border-box;
  }
  #container div.bookstore::-webkit-scrollbar {
    display: none;
  }
  #container > div.rightside form.search {
    display: none;
  }
}
